/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


/*VARIABLES*/
/*Colores*/
$main-color:#61d1d9;
$main-dark:#166e74;
$sheer-main-color:#61d1d94d;
$medium-grey: #d4eef0;
$light-grey:#e8f2f3;
$dark-grey:#727272;

/*Tipografias*/
$main-font:'Raleway';
$title-font:'Dosis';

/*Efectos*/
$shadow:0px 0px 10px 7px rgb(0 0 0 / 5%);


/*GENERAL*/
*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: $main-font;
}

a{
    text-decoration: none;
    color: unset;
}

/*HEADER*/
header{
    /*Desktop - default*/
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    z-index: 80000;

    .logo-container{
        display: flex;

    }
    img.logo{
        max-width: 200px;
    }

    
    .main-menu{
        list-style: none;
        display: flex;
        column-gap: 2.5rem;
        align-items: center;
        font-family: $title-font;

        .new-activity{
            background-color:$sheer-main-color;            
        }


        li .menu-title{
            font-size: 1.2rem;
        }

        li.login{
            background-color: black;
            color: white;
        }

        li.menu-btn{
            padding: 3px 15px;
            border-radius: 25px;
        }
    }



    /*Responsive */
@media(max-width:1030px){
    padding: 0 1rem;

    img.logo {
        max-width: 145px;
    }

    .main-menu {
        list-style: none;
        display: flex;
        column-gap: 1.4rem;

}

}

@media(max-width:767px){

    flex-direction: column;
    height: 100vh;
    position: absolute;
    top: 0;
    flex-direction: column;
    width: 100%;
    padding: 0;
    left: 0;
    
    .logo-container{
        width: 100%;
        padding: 20px 0;
        background-color: white;
        text-align: center;
        justify-content: center;
        position: fixed;
        box-shadow: 0 0px 6px 4px #00000020;    
    }

    .main-menu{
        width: 100%;
        background-color: white;
        position: fixed;
        bottom: 0;
        padding: 13px 0;
        justify-content: space-around;
        margin-bottom: 0;
        box-shadow: 0 0px 6px 4px #00000020;    

    }

}
    


} 

main.wrapper{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding-top: 40px;
    position: relative;

    .page-heading{
        font-family: $title-font;
            h1{
                font-size: 4rem;
                line-height: 4rem;
                font-weight: 500;
                text-align: center;
                color: $main-color;
                margin-bottom: 0;
                margin-top: 0;
            }

            .page-subtitle{
                font-size: 2.5rem;
                line-height: 2.5rem;
                font-weight: 500;
                text-align: center;
                margin-top: 0;
            }
    }

    /*FORMS*/
    .form{
        * {
            font-family: $main-font;
        }
        textarea, input[type="email"], input[type="password"],  input[type="text"], input[type="date"]{
            padding: 5px 20px;
            border-radius: 20px;
            border: none;
            background-color: $light-grey;
            font-size: 1.2rem;

            &:focus-visible{
                outline-color: $medium-grey;
            }
        }

        .select-wrapper{
            position: relative;
            &:after{
                content: "";
                background-image: url(../img/down.svg);
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
                position: absolute;
                right: 30px;
                top: 30%;
            }
        }

        select {
            appearance: none;
            background-color: $light-grey;
            border: none;
            border-radius: 20px;
            font-size: 1.1rem;
            padding: 8px 20px;
            margin: 0;
            width: 100%;

           
        }
          
        .genero-container > div{
            display: flex;
            justify-content: center;
            column-gap: 20px;
        }

        input[type="radio"] {
            appearance: none;
            background-color: #fff;
            margin: 0;
            width: 1.15em;
            height: 1.15em;
            border: 1px solid $main-dark;
            border-radius: 50%;
            margin-right: 10px;
          
          &:checked {
            background-color: $medium-grey;
        }

        }


        .submit-btn{
            background-color: $main-color;
            border: none;
            padding: 5px 20px;
            font-size: 1.3rem;
            border-radius: 20px;
            margin: auto;
            display: block
        }

        .formfield{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            .extra-info{
                display: block;
                font-size: .9rem;
                color: $dark-grey;
                font-weight: 300;
            }
            label{
                margin-bottom: 5px;
                margin-left: 20px;
                color: $main-dark;
                font-weight: 500;
            }

            &.remember-me{
                flex-direction: row;
                column-gap: 10px;
                justify-content: center;
            }
        }

        &.login-form{
            max-width: 500px;
            margin: auto;
            background-color: white;
            padding: 35px;
            box-shadow: $shadow;
            border-radius: 30px;
        }

    
        .form-controls {
         
            &+.submit-btn{
                margin-top: 20px;
            }
            
            img{
            width: 30px;
            cursor: pointer;

            &:hover{
                background-color: $light-grey;
                border-radius: 50%;
            }
        }
        }

        .register-group{

            max-width: 500px;
            margin: auto;
            text-align: center;

            textarea, input[type="email"], input[type="password"],  input[type="text"]{
            padding: 10px 20px;
            }

            .fieldgroup-title{
                font-size: 1.8rem;
                color: $main-dark;
                font-weight: 600;
                font-family: $title-font;
            }

            .formfield{
                margin-bottom: 30px;

                label{
                    margin-left: 0;
                }
            }

            &#group-2, &#group-3{
                display: none;
            }

        }

    }

    .login-google{
        margin-top: 30px;

            p{
                text-align: center;
            }
    }

    .link-to-registro{
        color: $main-dark;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 30px;
        background: $medium-grey;
        padding: 1px 30px;
        width: fit-content;
        border-radius: 10px;
        margin: auto;
        margin-top: 40px;

        a{
            font-weight: 600;
        }
    }
   
    @media(max-width:767px){
        top: 40px;

}

}

